<table class="layui-hide" id="test" lay-filter="test"></table>
 
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">

  </div>
</script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">核销</a>
  <!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">禁止处理</a> -->
</script>
              
          
<script src="__INDEX__/layuiadmin/layui/layui.js"></script>  
 
<script>
layui.use('table', function(){
  var table = layui.table;
  var $ = layui.$

  table.render({
    elem: '#test'
    ,url:"{:url('hexiaoDetail')}"
    ,limit: 3
    ,response: {
      statusName: 'status' //规定数据状态的字段名称，默认：code
      ,statusCode: 200 //规定成功的状态码，默认：0
      ,msgName: 'message' //规定状态信息的字段名称，默认：msg
      ,countName: 'total' //规定数据总数的字段名称，默认：count
      ,dataName: 'rows' //规定数据列表的字段名称，默认：data
    } 
    ,toolbar: '#toolbarDemo'
    ,title: '核销数据表'
    ,totalRow: true
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'finance_id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, totalRowText: '合计'}
      ,{field:'way', title:'收入类型', width:100, fixed: 'left', unresize: true, sort: true}
      ,{field:'communityName', title:'小区名', templet: function(res){
        return res.xingming
      }}
      // ,{field:'uuid', title:'uuid'}
      ,{field:'house', title:'方源', templet: function(res){
        return res.dong + '栋' + res.danyuan + '单元' + res.ceng + '层' + "(" + res.fangwutype + ")"
      }}
      ,{field:'renttype', title:'租赁状态', width:100}
      ,{field:'xingming', title:'租客姓名', width:120, edit: 'text', templet: function(res){
        return '<em>'+ res.xingming +'</em>'
      }}
      ,{field:'phone', title:'租客电话'}
      // ,{field:'room_id', title:'性别', width:80, edit: 'text', sort: true}
      ,{field:'money', title:'金额', width:100, sort: true, totalRow: true}
      ,{field:'moneytype', title:'金额类型'}
      ,{field:'finance_beizhu', title:'备注'}
      ,{field:'createtime', title:'收租时间', templet: function(res){
        var date = new Date(res.createtime * 1000);
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate() + ' ';
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y+M+D+h+m+s;
      }}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
    ]]
    ,page: true
  });

  
  
  //工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    switch(obj.event){
      case 'getCheckData':
        var data = checkStatus.data;
        layer.alert(JSON.stringify(data));
      break;
      case 'getCheckLength':
        var data = checkStatus.data;
        layer.msg('选中了：'+ data.length + ' 个');
      break;
      case 'isAll':
        layer.msg(checkStatus.isAll ? '全选': '未全选')
      break;
    };
  });

  //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;
    //console.log(obj)
    if(obj.event === 'del'){
      layer.confirm('是否禁止其他人处理该条数据？', function(index){
        obj.del();
        layer.close(index);
      });
    } else if(obj.event === 'edit'){
      layer.confirm('是否对该条记录进行核销？', function(index){
        // obj.del();
        $.post("{:url('change')}", {'id': data.finance_id}, function() {
          layer.close(index);
        })
      });
    }
  });
});
</script>
