    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>添加房源</legend>
                  </fieldset>
                  <form id="form" class="layui-form layui-form-pane" action="">
                    <div class="layui-col-md6" style="padding: 7.5px;">
                      <div class="layui-card">
                          <div class="layui-card-header">房源基本信息</div>
                          <div class="layui-card-body layui-row layui-col-space10"> 
                              <div class="layui-card-body">
                                 
                                <div class="layui-form-item">
                                    <label class="layui-form-label">选择项目</label>
                                    <div class="layui-input-block">
                                        <select name="xiangmuID" lay-verify="required" lay-search="">
                                        <option value="">直接选择或搜索选择项目</option>
                                        {foreach $project as $key=>$vo } 
                                            <option value="{$vo.id}">{$vo.projectName}</option>
                                        {/foreach} 
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">选择小区</label>
                                    <div class="layui-input-block">
                                        <select name="xiaomuID" lay-verify="required" lay-search="">
                                        <option value="">直接选择或搜索选择小区</option>
                                        <!-- <option value="1">layer</option>
                                        <option value="2">form</option> -->
                                        {foreach $xiaoqu as $key=>$vo } 
                                            <option value="{$vo.id}">{$vo.communityName}</option>
                                        {/foreach} 
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="layui-form-item" pane="">
                                    <label class="layui-form-label">持有方式</label>
                                    <div class="layui-input-block" id="isclas">
                                        <input type="radio" name="cyfs" value="1" title="收租" lay-filter="clik" checked="">
                                        <input type="radio" name="cyfs" value="0" title="自持" lay-filter="clik">
                                    </div>
                                </div>
                                <div class="layui-form-item" pane="">
                                    <label class="layui-form-label">出租方式</label>
                                    <div class="layui-input-block" id="isclas">
                                        <input type="radio" name="clas" value="1" title="整租" lay-filter="clik" checked="">
                                        <input type="radio" name="clas" value="0" title="合租" lay-filter="clik">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">栋(楼号)</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="dong" lay-verify="number" placeholder="栋" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">栋</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">单元号</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="danyuan" placeholder="(选填)" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">楼层</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="ceng" lay-verify="number" placeholder="(选填)" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">房屋面积</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="mianji" lay-verify="number" placeholder="面积" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">/㎡</div>
                                </div>
                                <div class="layui-form-item" pane="">
                                    <label class="layui-form-label">房屋类型</label>
                                    <div class="layui-input-block">
                                        {foreach $house_state as $key=>$vo } 
                                            {if condition="$key == 0"} 
                                            <input type="radio" name="fangwutypeID" value="{$vo.keys}" title="{$vo.keys}" checked="">
                                            {else/} 
                                            <input type="radio" name="fangwutypeID" value="{$vo.keys}" title="{$vo.keys}">
                                            {/if} 
                                        
                                        {/foreach} 
                                    </div>

                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">房源备注</label>
                                    <div class="layui-input-block">
                                        <textarea placeholder="请输入备注内容" class="layui-textarea" name="beizhu"></textarea>
                                    </div>
                                </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="layui-col-md6" style="padding: 7.5px;">
                      <div class="layui-card">
                          <div class="layui-card-header">房源 -- 附加房间信息</div>
                          <div class="layui-card-body layui-row layui-col-space10"> 
                              <div class="layui-card-body">
                                 
                                <div class="layui-form-item">
                                    <label class="layui-form-label">房间编号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="room[0][fjbh]" lay-verify="required" placeholder="房间编号" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux"> <i class="layui-icon layui-icon-tips"  style="padding-left: 10px;padding-right: 0px;"> </i> <span>合租房命名：建议使用房号加字母，如：301A、301B、301C</span> </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">房间面积</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="room[0][fjarea]" lay-verify="number" placeholder="房间面积" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">/㎡</div>
                                </div>
                                <div class="layui-form-item" pane="">
                                    <label class="layui-form-label">房间状态</label>
                                    <div class="layui-input-block" id="isfjstatus">
                                        <input type="radio" name="room[0][fjstatus]" value="10" title="在租" lay-filter="clik" checked="">
                                        <input type="radio" name="room[0][fjstatus]" value="11" title="空置" lay-filter="clik">
                                        <input type="radio" name="room[0][fjstatus]" value="12" title="装修" lay-filter="clik">
                                        <input type="radio" name="room[0][fjstatus]" value="13" title="预定" lay-filter="clik">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">房间备注</label>
                                    <div class="layui-input-block">
                                        <textarea placeholder="请输入备注内容" class="layui-textarea" name="room[0][beizhu]"></textarea>
                                    </div>
                                </div>
                                <fieldset class="layui-elem-field addroomlist">
                                    <legend>其他房间信息</legend>
                                    <div class="layui-field-box listInput">
                                        
                                    </div>
                                </fieldset>
                                <div class="layui-form-item roomadd">
                                    <button id="roomadd" type="button" class="layui-btn layui-btn-primary layui-btn-radius" data-type="adds">+ 增加一间房间信息</button>
                                </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="layui-col-md6" style="padding: 7.5px;display: none;">
                      <div class="layui-card">
                          <div class="layui-card-header">租客信息</div>
                          <div class="layui-card-body layui-row layui-col-space10"> 
                              <div class="layui-card-body">
                                <div class="layui-form-item xingming">
                                    <label class="layui-form-label">承租人姓名</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="user[0][xingming]" lay-verify="xingming" autocomplete="off" placeholder="承租人姓名" class="layui-input usernames">
                                    </div>
                                </div>
                                <div class="layui-form-item sex" pane="">
                                    <label class="layui-form-label">承租人性别</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="user[0][sex]" value="1" title="男" checked="">
                                        <input type="radio" name="user[0][sex]" value="2" title="女">
                                    </div>
                                </div>
                                <div class="layui-form-item userphone">
                                    <label class="layui-form-label">手机号码</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="user[0][phone]" lay-verify="phone" autocomplete="off" placeholder="租客手机号码" class="layui-input userphones">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">证件类型</label>
                                    <div class="layui-input-block">
                                        <select name="cardtype" lay-verify="required" lay-search="">
                                          <option value="">直接选择或搜索登记证件类型</option>
                                          <option value="1">居民身份证</option> 
                                          <option value="2">护照</option> 
                                          <option value="3">军人证</option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item card">
                                    <label class="layui-form-label">证件号</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="user[0][card]" autocomplete="off" placeholder="租客证件号(身份证、等)" class="layui-input usercards">
                                    </div>
                                </div>
                                <div class="layui-form-item mingzu">
                                    <label class="layui-form-label">所属民族</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="user[0][mingzu]" autocomplete="off" placeholder="所属民族" class="layui-input mingzu">
                                    </div>
                                </div>
                                <div class="layui-form-item addr">
                                    <label class="layui-form-label">籍贯地址</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="user[0][addr]" autocomplete="off" placeholder="籍贯地址" class="layui-input addr">
                                    </div>
                                </div>
                                <fieldset class="layui-elem-field adduserlist" style="display: none;">
                                    <legend>增加的租客信息</legend>
                                    <div class="layui-field-box listInput">
                                        
                                    </div>
                                </fieldset>
                                <div class="layui-form-item useradd">
                                    <button id="useradd" type="button" class="layui-btn layui-btn-primary layui-btn-radius" data-type="adds">+ 增加一人</button>
                                </div>
                                <div class="layui-form-item useradd">
                                    <style type="text/css">
                                      .layui-upload-drag{
                                        padding: 10px;
                                      }
                                    </style>
                                    <div class="layui-col-md12">
                                      <div class="layui-card">
                                        <div class="layui-card-header">承租人证件照</div>
                                        <div class="layui-card-body">
                                            <input type="hidden" name="chengzhuren_zhengmian" id="chengzhuren_zhengmian" value="">
                                            <input type="hidden" name="chengzhuren_fanmian" id="chengzhuren_fanmian" value="">
                                          <div class="layui-upload">
                                            <!-- <button type="button" class="layui-btn" id="test-upload-normal">上传图片</button> -->
                                            <div class="layui-upload-drag" id="test-upload-normal1">
                                                
                                              <img class="zhengmm" src="__CDN__/assets/img/zhengm.png" style="width:90px;height:100px;">
                                            </div>
                                            <!-- <div class="layui-upload-drag" id="test-upload-normal2">
                                              
                                              <img class="fanmm" src="__CDN__/assets/img/fanm.png" style="width:90px;height:100px;">
                                            </div> -->
                                            <div class="layui-upload-drag" style="border: none;">
                                              <p>或者</p>
                                            </div>

                                            <div class="layui-upload-drag" style="padding: 5px;">
                                              <img src="{:url('index/RentManage/create',array('rands'=>$rands))}" style="width: 102px;">
                                            </div>
                                          </div> 
                                          <br>
                                          <blockquote class="layui-elem-quote">
                                            <p>上传承租人身份证照片，会自动识别承租人信息，并填入上面承租人信息 </p>
                                            <p>如果上传错误，请直接点击图片选择正确的照片，重新上传！谢谢 </p>
                                            <p>注意：当前只能识别身份证信息，无法识别护照信息</p>
                                          </blockquote>   
                                        </div>
                                      </div>
                                    </div>
                                </div>

                                <div class="layui-form-item pricemodel">
                                    <label class="layui-form-label">费用模板</label>
                                    <div class="layui-input-inline">
                                        <select name="pricemodel" lay-verify="required" lay-search="" lay-filter="pricemodel">
                                        <option value="">请选择费用信息模板</option>
                                        {foreach $modelName as $key=>$vo } 
                                            <option value="{$vo.id}">{$vo.modelName}</option>
                                        {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <fieldset class="layui-elem-field showPricemodelContent layui-anim layui-anim-upbit" style="display: none;">
                                    <legend>费用配置</legend>
                                    <div class="layui-field-box pricemodelContent">
                                        <div class="layui-card-header">固定费用：</div>
                                        <div class="layui-card-body" style="padding: 5px;" id="guDingFree">
                                              
                                        </div>
                                        <div class="layui-card-header" style="display: none;">计量费用：</div>
                                        <div class="layui-card-body" style="padding: 5px;" id="jiLiangFree">
                                            
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="layui-form-item pricemodel">
                                    <label class="layui-form-label">清单模板</label>
                                    <div class="layui-input-inline">
                                        <select name="listtemplate" lay-verify="required" lay-search="" lay-filter="listtemplate">
                                        <option value="">请选择入住清单模板</option>
                                        {foreach $listName as $key=>$vo } 
                                            <option value="{$vo.id}">{$vo.modelName}</option>
                                        {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <fieldset class="layui-elem-field showlisttemplateContent layui-anim layui-anim-upbit" style="display: none;">
                                    <legend>清单配置</legend>
                                    <div class="layui-field-box listtemplateContent">
                                        <div class="layui-card-header">清单配置：</div>
                                        <div class="layui-card-body" style="padding: 5px;" id="guDingFree2">
                                              
                                        </div>
                                        <div class="layui-card-header" style="display: none;">计量费用：</div>
                                        <div class="layui-card-body" style="padding: 5px;" id="jiLiangFree2">
                                            
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="layui-form-item renttimes">
                                    
                                    <div class="layui-inline">
                                      <label class="layui-form-label">租赁时间</label>
                                      <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="test-laydate-format-range2" placeholder="开始 到 结束">
                                      </div>
                                    </div>
                                    <!-- <label class="layui-form-label">租赁时间</label> -->
                                    <!-- <div class="layui-input-inline" style="margin-right: -1px;">
                                        <input type="text" name="startimes" class="layui-input test-laydate-range-date-star" lay-verify="required" id="test-laydate-range-date-star" placeholder=" 开始时间 ">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux test-laydate-range-date-star" style="border:1px solid #e6e6e6;padding: 7.5px 7.5px!important;background: #eee;">
                                        <i class="layui-icon layui-icon-date" style="color: red;font-weight: bold;"></i>
                                    </div>
                                        <div class="layui-form-mid layui-word-aux">到</div>
                                    <div class="layui-input-inline" style="margin-right: -1px;">
                                        <input type="text" name="endtimes" class="layui-input test-laydate-range-date-end" lay-verify="required" id="test-laydate-range-date-end" placeholder=" 结束时间 ">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux test-laydate-range-date-end cd1" style="border:1px solid #e6e6e6;padding: 7.5px 7.5px!important;background: #eee;">
                                        <i class="layui-icon layui-icon-date" style="color: red;font-weight: bold;"></i>
                                    </div> -->
                                </div>
                                <div class="layui-form-item paymentway" pane="">
                                    <label class="layui-form-label">付款周期</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="paymenttimes" class="mm" value="月付" title="月付" checked="">
                                        <input type="radio" name="paymenttimes" class="jj" value="季付" title="季付">
                                        <input type="radio" name="paymenttimes" class="bn" value="半年付" title="半年付">
                                        <input type="radio" name="paymenttimes" class="nn" value="年付" title="年付">
                                    </div>
                                </div>
                                <div class="layui-form-item userorigin">
                                    <label class="layui-form-label">租客来源</label>
                                    <div class="layui-input-inline">
                                        <select name="userorigin" lay-verify="required" lay-search="">
                                        <option value="">请选择租客来源</option>
                                        {foreach $rent_source as $key=>$vo } 
                                            <option value="{$vo.id}">{$vo.source}</option>
                                        {/foreach} 
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">租客备注</label>
                                    <div class="layui-input-block">
                                        <textarea placeholder="请输入备注内容" class="layui-textarea" name="userbeizhu"></textarea>
                                    </div>
                                </div>
                                <!-- =============================================附加信息 END======================= -->
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="layui-col-md12" style="padding: 7.5px;">
                      <div class="layui-card">
                        <div class="layui-card-body layui-row layui-col-space10" style="text-align: center;"> 
                          <button lay-submit="" lay-filter="subs" id="subs" type="button" class="layui-btn layui-btn-primary layui-btn-radius" data-type="adds" style="background-color: #009688;color: white;">+ 立即添加房源</button>
                        </div>
                      </div>  
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <script src="__INDEX__/layuiadmin/layui/layui.js"></script>
        <script>
            layui.config({
                base: '__INDEX__/layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['form','laydate','index', 'upload'],function(){
                var laydate = layui.laydate;
                var $ = layui.$
                , layer = layui.layer
                ,upload = layui.upload;
                // element.render();
                
                // 租赁时间区间选择 -------- start
                laydate.render({
                  elem: '#test-laydate-format-range2'
                  ,range: '~'
                });
                // 租赁时间区间选择 -------end
                // 
                // 
                //点击新增一间房间信息 ------- start
                $('.roomadd #roomadd').on('click', function(){
                  var numbers = $('.isroomnum').length;
                  var index = numbers + 1;
                  var html = '<fieldset class="layui-elem-field isroomnum">\
                                  <legend class="dels" style="color: red;margin-left:50px;font-size: 16px;cursor: pointer;">删除</legend>\
                                  <div class="layui-field-box">\
                                      <div class="layui-form-item">\
                                          <label class="layui-form-label">房间编号</label>\
                                          <div class="layui-input-inline">\
                                              <input type="text" name="room['+index+'][fjbh]" lay-verify="required" placeholder="房间编号" autocomplete="off" class="layui-input">\
                                          </div>\
                                          <div class="layui-form-mid layui-word-aux"> <i class="layui-icon layui-icon-tips"  style="padding-left: 10px;padding-right: 0px;"> </i> <span>合租房命名：建议使用房号加字母，如：301A、301B、301C</span> </div>\
                                      </div>\
                                      <div class="layui-form-item">\
                                          <label class="layui-form-label">房间面积</label>\
                                          <div class="layui-input-inline">\
                                              <input type="text" name="room['+index+'][fjarea]" lay-verify="number" placeholder="房间面积" autocomplete="off" class="layui-input">\
                                          </div>\
                                          <div class="layui-form-mid layui-word-aux">/㎡</div>\
                                      </div>\
                                      <div class="layui-form-item" pane="">\
                                          <label class="layui-form-label">房间状态</label>\
                                          <div class="layui-input-block" id="isfjstatus">\
                                              <input type="radio" name="room['+index+'][fjstatus]" value="10" title="在租" lay-filter="clik" checked="">\
                                              <input type="radio" name="room['+index+'][fjstatus]" value="11" title="空置" lay-filter="clik">\
                                              <input type="radio" name="room['+index+'][fjstatus]" value="12" title="装修" lay-filter="clik">\
                                              <input type="radio" name="room['+index+'][fjstatus]" value="13" title="预定" lay-filter="clik">\
                                          </div>\
                                      </div>\
                                      <div class="layui-form-item layui-form-text">\
                                          <label class="layui-form-label">房间备注</label>\
                                          <div class="layui-input-block">\
                                              <textarea placeholder="请输入备注内容" class="layui-textarea" name="room['+index+'][beizhu]"></textarea>\
                                          </div>\
                                      </div>\
                                  </div>\
                              </fieldset>';

                  if(numbers >= 6){
                      layer.msg('最多新增六个房间！', {icon: 5});
                      return false;
                  }else{
                      $('.listInput').append(html);
                      $(".addroomlist").show();
                      form.render();
                  }
                  
              });
              

              $(document).on("click",".dels",function(){
                  var numbers = $('.isroomnum').length;
                  var objs = $(this);
                  layer.confirm('是否取消新增房间？', {
                      btn: ['确定','取消'] //按钮
                  }, function(){
                      if(numbers == 1){
                          objs.parent().remove();
                          $(".addroomlist").hide();
                      }else{
                          objs.parent().remove();
                      }
                      layer.msg('已取消新增', {icon: 1});
                  }, function(){
                      // layer.msg('已取消', {
                      //     time: 1000
                      // });
                  }); 
              })
              //点击新增一间房间信息 ------- end
              //
              //
              // 监听表单提交 -------- start
              form.on('submit(subs)', function(data){
                // $('#subs').attr('disabled','disabled');
                var form = $("#form").serializeArray();
                console.log(form)

                
                // return false;
              }); 
              // 监听表单提交 -------- end
            })
      </script>
    </body>
    

</html>