
<div id="content-container" class="container">
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">
            总房源数
            <span class="layui-badge layui-bg-blue layuiadmin-badge">本账户</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-big-font">{$info.count}</p>
          </div>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">
            空置房源
            <span class="layui-badge layui-bg-cyan layuiadmin-badge">当月</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-big-font">{$info.kong}</p>
          </div>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">
            预定房源
            <span class="layui-badge layui-bg-green layuiadmin-badge">当月</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">

            <p class="layuiadmin-big-font">{$info.yuding}</p>
          </div>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">
            装修房源
            <span class="layui-badge layui-bg-orange layuiadmin-badge">当月</span>
          </div>
          <div class="layui-card-body layuiadmin-card-list">

            <p class="layuiadmin-big-font">{$info.zhuangxiu}</p>
          </div>
        </div>
      </div>   

      <div class="layui-col-sm12">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-sm12">
            <div class="layui-card">
              <div class="layui-card-header">当月 应该缴房租 租客</div>
              <div class="layui-card-body">
                <table class="layui-table layuiadmin-page-table" lay-skin="line">
                  <thead>
                    <tr>
                      <th>租客姓名</th>
                      <th>租赁周期</th>
                      <th>当前缴费状态</th>
                      <th>操作</th>
                    </tr> 
                  </thead>
                  <tbody>
                    {foreach $info.rent as $key=>$vo } 
                    <tr>
                      <td><span class="first">{$vo.xingming}</span></td>
                      <td><i class="layui-icon layui-icon-log"> {$vo.payment_cycle_start_time | date='Y-m-d',###} - {$vo.payment_cycle_end_time | date='Y-m-d',###}</i></td>
                      <td style="color: red"><i>欠费</i></td>
                      <td><button onclick="rentCollection('{$vo.key}', '{$vo.uuid}', '{$vo.room_id}')" type="button" class="layui-btn layui-btn-danger layui-btn-sm">确认收租</button></td>
                    </tr>
                    {/foreach}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="layui-col-sm6">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-sm12">
            <div class="layui-card">
              <div class="layui-card-header">当月 租赁到期 租客</div>
              <div class="layui-card-body">
                <table class="layui-table layuiadmin-page-table" lay-skin="line">
                  <thead>
                    <tr>
                      <th>租客姓名</th>
                      <th>租赁周期</th>
                      <th>到期时间</th>
                      <th>操作</th>
                    </tr> 
                  </thead>
                  <tbody>
                    <tr>
                      <td><span class="first">胡歌</span></td>
                      <td><i class="layui-icon layui-icon-log"> 11:20</i></td>
                      <td style="color: red"><i>已到期</i></td>
                      <td>
                        <button type="button" class="layui-btn layui-btn-danger layui-btn-sm">续租</button>
                        <button type="button" class="layui-btn layui-btn-sm">设置空置</button>
                      </td>
                    </tr>
                    <tr>
                      <td><span class="second">彭于晏</span></td>
                      <td><i class="layui-icon layui-icon-log"> 10:40</i></td>
                      <td style="color: red"><i>已到期</i></td>
                      <td>
                        <button type="button" class="layui-btn layui-btn-danger layui-btn-sm">续租</button>
                        <button type="button" class="layui-btn layui-btn-sm">设置空置</button>
                      </td>
                    </tr>
                    <tr>
                      <td><span class="third">靳东</span></td>
                      <td><i class="layui-icon layui-icon-log"> 01:30</i></td>
                      <td style="color: red"><i>已到期</i></td>
                      <td>
                        <button type="button" class="layui-btn layui-btn-danger layui-btn-sm">续租</button>
                        <button type="button" class="layui-btn layui-btn-sm">设置空置</button>
                      </td>
                    </tr>
                    <tr>
                      <td>吴尊</td>
                      <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                      <td style="color: red"><i>已到期</i></td>
                      <td>
                        <button type="button" class="layui-btn layui-btn-danger layui-btn-sm">续租</button>
                        <button type="button" class="layui-btn layui-btn-sm">设置空置</button>
                      </td>
                    </tr>
                    <tr>
                      <td>许上进</td>
                      <td><i class="layui-icon layui-icon-log"> 09:30</i></td>
                      <td style="color: red"><i>已到期</i></td>
                      <td>
                        <button type="button" class="layui-btn layui-btn-danger layui-btn-sm">续租</button>
                        <button type="button" class="layui-btn layui-btn-sm">设置空置</button>
                      </td>
                    </tr>
                    <tr>
                      <td>小蚊子</td>
                      <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                      <td style="color: red"><i>已到期</i></td>
                      <td>
                        <button type="button" class="layui-btn layui-btn-danger layui-btn-sm">续租</button>
                        <button type="button" class="layui-btn layui-btn-sm">设置空置</button>
                      </td>
                    </tr>
                    <tr>
                      <td>贤心</td>
                      <td><i class="layui-icon layui-icon-log"> 09:30</i></td>
                      <td style="color: red"><i>已到期</i></td>
                      <td>
                        <button type="button" class="layui-btn layui-btn-danger layui-btn-sm">续租</button>
                        <button type="button" class="layui-btn layui-btn-sm">设置空置</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> -->
        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  /**
   * 收租
   * @param  {[type]} id [description]
   * @return {[type]}    [description]
   */
  function rentCollection(id, uuid, room_id) {
    parent.layer.open({
      type: 2,
      area: ['700px', '100vh'],
      maxmin: true,
      content: "{:url('index/house/rentCollection')}?key="+id+"&uuid="+uuid+'&room_id='+room_id,
      success: function(layero, index){
        var body = layer.getChildFrame('body', index);
        var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
    }
    })
  }
</script>