
<body>
	<div>
		<div class="layui-row layui-col-space15">
	      <div class="layui-col-md12">
	        <div class="layui-card">
	          <div class="layui-card-header">房源基本信息</div>
	          <div class="layui-card-body">
	          	<!-- 基本信息 -->
	          	<div class="layui-row layui-col-space20" style="border-bottom: 1px solid #ebf4ff;">
	          		<div class="layui-col-md6">
	          			<div class="layui-row layui-col-space15">
	          				<div class="layui-col-md3">
	          					租约编号:
	          				</div>
	          				<div class="layui-col-md6">
	          					{$info.uuid}
	          				</div>
	          			</div>
	          		</div>
	          		<div class="layui-col-md6">
	          			<div class="layui-row layui-col-space15">
	          				<div class="layui-col-md3">
	          					房屋状态：
	          				</div>
	          				<div class="layui-col-md6">
	          					预定
	          				</div>
	          			</div>
	          		</div>
	          	</div>
	          	<div class="layui-row layui-col-space20" style="border-bottom: 1px solid #ebf4ff;">
	          		<div class="layui-col-md6">
	          			<div class="layui-row layui-col-space15">
	          				<div class="layui-col-md3">
	          					持有方式:
	          				</div>
	          				<div class="layui-col-md6">
	          					{if condition="($info.cyfs == 0)"} 自持
	          					{else /} 收租
								{/if}
	          				</div>
	          			</div>
	          		</div>
	          		<div class="layui-col-md6">
	          			<div class="layui-row layui-col-space15">
	          				<div class="layui-col-md3">
								房源信息:
	          				</div>
	          				<div class="layui-col-md6">
	          					{$info.communityName} - {$info.dong}栋{empty name="$info.unitNumber"} {else /} {$info.unitNumber}单元{/empty}{$info.ceng}层({$info.fangwutype})
	          				</div>
	          			</div>
	          		</div>
	          	</div>
	          	
	          	<div class="layui-row layui-col-space20" style="border-bottom: 1px solid #ebf4ff;">
	          		<div class="layui-col-md6">
	          			<div class="layui-row layui-col-space15">
	          				<div class="layui-col-md3">
	          					预定金:
	          				</div>
	          				<div class="layui-col-md6">
	          					{$info.yudingpri}
	          				</div>
	          			</div>
	          		</div>
	          		<div class="layui-col-md6">
	          			<div class="layui-row layui-col-space15">
	          				<div class="layui-col-md3">
								合同类型:
	          				</div>
	          				<div class="layui-col-md6">
	          					纸质合同
	          				</div>
	          			</div>
	          		</div>
	          	</div>
	          	<div class="layui-row layui-col-space20" style="border-bottom: 1px solid #ebf4ff;">
	          		<div class="layui-col-md6">
	          			<div class="layui-row layui-col-space15">
	          				<div class="layui-col-md3">
	          					预定时间:
	          				</div>
	          				<div class="layui-col-md6">
	          					{$info.createtime | date='Y-m-d H:i:s',###}
	          				</div>
	          			</div>
	          		</div>
	          		<div class="layui-col-md6">
	          			<div class="layui-row layui-col-space15">
	          				<div class="layui-col-md3">
								租客来源:
	          				</div>
	          				<div class="layui-col-md6">
	          					{$info.rentSource}
	          				</div>
	          			</div>
	          		</div>
	          	</div>

	          	<!-- 基本信息end -->
	          </div>
	        </div>
	      </div>
	      <div class="layui-col-md12">
	        <div class="layui-card">
	          <div class="layui-card-header">预定人基本信息</div>
	          <div class="layui-card-body">
	          	<table class="layui-table" lay-skin="line">
				  <colgroup>
				    <col width="120">
				    <col width="60">
				    <col width="180">
				    <col width="100">
				    <col width="200">
				    <col width="100">
				    <col width="120">
				    <col width="120">
				    <col>
				  </colgroup>
				  <thead>
				    <tr>
				      <th>预定人姓名</th>
				      <th>性别</th>
				      <th>手机号码</th>
				      <th>证件类型</th>
				      <th>证件号码</th>
				      <th>居住状态</th>
				      <th>操作</th>
				    </tr> 
				  </thead>
				  <tbody>
				  	{foreach $rent_user as $key=>$vo } 
				    <tr>
				      <td>{$vo.xingming}</td>
				      <td>
				      	{eq name='$vo.sex' value='1'} 男 {else/} 女 {/eq}
				      </td>
				      <td>{$vo.phone}</td>
				      <td>
				      	{switch name="$vo.cardtype" }
						    {case value="1"}身份证{/case}
						    {case value="2"}护照{/case}
						    {default /}军人证
						{/switch}
				      </td>
				      <td>{$vo.card}</td>
				      <td>{$vo.rentstatus}</td>
				      <td>确认入住</td>
				      <!-- <td>编辑 删除 搬离</td> -->
				    </tr>
				    {/foreach}
				  </tbody>
				</table>
	          </div>
	        </div>
	      </div>
  	  </div>
	</div>
	<script src="__INDEX__/layuiadmin/layui/layui.js"></script>  
  	<script>
		var $form;
		var form;
		var $;
		var layer;
		layui.config({
		  	base: '__INDEX__/layuiadmin/' //静态资源所在路径
		}).extend({
		  	index: 'lib/index' //主入口模块
		}).use(['index','laydate', 'table'], function() {
			$ = layui.jquery;
		    layer = layui.layer;
		    var table = layui.table;
				 
		    table.init('parse-table-demo', { //转化静态表格
		        //height: 'full-500'
		    });
		    var laydate = layui.laydate;
		    laydate.render({
			  	elem: '#test5'
			  	,type: 'datetime'
			});
	    });
  	</script>
</body>

