
<body>
	<style type="text/css">
		table {width: 100%;height: 100%;}
		table tbody tr {border-bottom: 1px solid #ccc;    height: 36px;
	    line-height: 36px;}
		table tbody tr td{padding-left: 15px;font-weight: 400;background: #fff;}
		table tbody tr td:nth-child(2){padding-left: 0;font-weight: 400;vertical-align: top;background: #eaedf5;text-align: center;font-size: 14px;}
		.right-li{text-align: left; padding-left: 5px;}
	</style>
	<div style="padding: auto 50px">
		<table>
			<tbody>
				<tr style="">
					<td style="width: 75%;"><h2 style="font-size: 16px;padding: 3px 0;"></h2></td>
					<td style="width: 25%;"><h2 style="font-weight: 400;font-size: 16px;padding: 3px 0;"></h2></td>
				</tr>
				<tr>
					<td>
						<h2 style="font-weight: 400;font-size: 16px;padding: 3px 0;">房源信息</h2>
						<ul><li>房源编号：{$info.uuid}</li> <li>房间面积：{$info.fjarea} ㎡</li> <li>房租价格：{$info.money}元/月</li>
						<li>付款方式：{$info.payment_weeks}</li>
						<li>所属项目：金科</li></ul>
					</td>
					<td>
						<ul>
							<li class="right-li"><i class="layui-icon layui-icon-home"></i> <a onclick="bianji(0)" href="javascript:;">编辑房源</a></li>
							<!-- <li class="right-li"><i class="layui-icon layui-icon-home"></i> <a onclick="zuyuedetail(0)" href="javascript:;">租约详情</a></li> -->
						</ul>
					</td>
				</tr>
				{switch name="$info.status_text" }
				    {case value="空置"}
				    <tr>
						<td>
							<h2>房源状态</h2> 
							<ul><!----> 
								<li>出租状态：未出租</li>
								<!----> <!---->
							</ul>
						</td>
						<td>
							<ul>
								<li class=""><i class="layui-icon layui-icon-user"></i> <a onclick="rentDj(id='{$info.uuid}')" style="color: rgb(255, 86, 0)"  href="javascript:;">租客登记</a></li>

								<!-- （添加预定暂未使用，直接在租客登记处操作） -->
								<!-- <li class=""><i class="layui-icon layui-icon-user"></i> <a onclick="addYD(id=1)" style="color: rgb(255, 86, 0)"  href="javascript:;">添加预定</a></li> -->
							</ul>
						</td>
					</tr>
				    {/case}
				    {case value="装修"}
					<tr>
						<td>
							<h2>房源状态</h2> 
							<ul><!----> 
								<li>出租状态：未出租 <span style="color: red">(装修)</span></li>
								<!----> <!---->
							</ul>
						</td>
						<td>
							<ul>
								<li class=""><i class="layui-icon layui-icon-user"></i> <a onclick="zhuangxQD(id=1)" style="color: rgb(255, 86, 0)"  href="javascript:;">装修完成</a></li>
							</ul>
						</td>
					</tr>
				    {/case}
				    {case value="预定"}
					<tr>
						<td>
							<h2>房源状态</h2> 
							<ul><!----> 
								<li>出租状态：未出租 <span style="color: red">(预定)</span></li>
								<!----> <!---->
							</ul>
						</td>
						<td>
							<ul>
								<li class=""><i class="layui-icon layui-icon-user"></i> <a onclick="cexiaoYD(id=1)" style="color: rgb(255, 86, 0)"  href="javascript:;">撤销预定</a></li>

								<li class=""><i class="layui-icon layui-icon-user"></i> <a onclick="chakanYD(id=1)" style="color: rgb(255, 86, 0)"  href="javascript:;">查看预定</a></li>
							</ul>
						</td>
					</tr>
				    {/case}
				    {default /}
				    <tr>
						<td>
							<h2>房源状态</h2> 
							<ul><!----> 
								<li>出租状态：在租 </li>
								<li>租约起始：{$info.start_time | date="Y-m-d",###} 到 {$info.end_time | date="Y-m-d",###}</li> 
							</ul>
						</td>
						<td>
							<ul>
								<li class=""><i class="layui-icon layui-icon-user"></i> <a onclick="zuyuedetail(0)" style="color: rgb(255, 86, 0)"  href="javascript:;">租约详情</a></li>

								<li class=""><i class="layui-icon layui-icon-user"></i> <a onclick="tz()" style="color: rgb(255, 86, 0)"  href="javascript:;">退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;房</a></li>

								<li class=""><i class="layui-icon layui-icon-user"></i> <a onclick="rentCollection('{$info.key}')" style="color: rgb(255, 86, 0)"  href="javascript:;">收&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;租</a></li>
							</ul>
						</td>
					</tr>
				{/switch}
				
				
				<tr style="border-bottom: none;">
					<td>
						<h2>房源备注</h2> <ul><!----> <li>{$info.beizhu}</li><!----></ul>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="__INDEX__/layuiadmin/layui/layui.js"></script>  
  	<script>
		var layer;
		var $;
		layui.config({
		  base: '__INDEX__/layuiadmin/' //静态资源所在路径
		}).extend({
		  index: 'lib/index' //主入口模块
		}).use(['index'], function() {
			$ = layui.jquery;
		    layer = layui.layer;


	    });
		var uuid = "{$info.uuid}";
		var room_id =	"{$info.room_id}";
		//租约详情
		function zuyuedetail(flag)
	    {
	    	if (flag==0) {

		    	var index = parent.layer.open({
				  type: 2,
				  area: ['1000px', '100vh'],
				  maxmin: true,
				  content: "{:url('editHousedetail')}?uuid="+uuid+'&room_id='+room_id,
				});
				parent.layer.full(index)
	    	} else if (flag==1) {
				var index = parent.layer.open({
				  type: 2,
				  area: ['1000px', '100vh'],
				  maxmin: true,
				  content: "{:url('editHousedetail', ['watch' => 1])}?uuid="+uuid+'&room_id='+room_id,
				});
				parent.layer.full(index)
	    	}
	    }

	    //编辑房源
		function bianji(flag)
	    {
	    	if (flag==0) {
		    	var index = parent.layer.open({
				  type: 2,
				  area: ['1000px', '100vh'],
				  maxmin: true,
				  content: "{:url('edit')}?uuid="+uuid+'&room_id='+room_id,
				});
				parent.layer.full(index)
	    	} else if (flag==1) {
				var index = parent.layer.open({
				  type: 2,
				  area: ['1000px', '100vh'],
				  maxmin: true,
				  content: "{:url('edit', ['watch' => 1])}?uuid="+uuid+'&room_id='+room_id,
				});
				parent.layer.full(index)
	    	}
	    }

	    //撤销预定
	    function cexiaoYD(id){
	    	parent.layer.open({
			  	type: 1,
			  	title: false,
			  	closeBtn: 0,
			  	shadeClose: true,
			  	skin: 'yourclass',
			  	area: '300px;',
			  	shade: 0.8,
			  	btn: ['撤销预定', '取消'],
			  	content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">是否撤销预定？<br><br><br></div>',
			  	yes: function(index, layero){
			    	//按钮【按钮一】的回调
			    	$.post("{:url('cexiaoYD')}", {uuid: uuid, room_id: room_id}, function(res){
			    		// alert(res.msg);
			    		parent.layer.close(index);
			    	})
			  	},
			  	btn2: function(index, layero){
			    	//按钮【按钮二】的回调
			    	console.log("取消")
			  	},
			  	end: function () { //最后执行reload
	                parent.location.reload();
	            }
			});
	    }
	    //查看预定
	    function chakanYD(id){
	    	var index = parent.layer.open({
	    		type: 2,
	    		area: ['1000px', '100vh'],
		  		maxmin: true,
	    		content: "{:url('chakanYD', ['uuid' => 0000])}",
	    	})
	    }

	    //装修完成确定
	    function zhuangxQD(id){
	    	var index = parent.layer.open({
			  	type: 1,
			  	title: false,
			  	closeBtn: 0,
			  	shadeClose: true,
			  	skin: 'yourclass',
			  	area: '300px;',
			  	shade: 0.8,
			  	btn: ['装修完成确定', '取消'],
			  	content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">是否确定装修完成？<br><br><br></div>',
			  	yes: function(i, layero){
			    	//按钮【按钮一】的回调
			    	// console.log("确定")
			    	$.post("{:url('zhuangxQD')}", {uuid: uuid, room_id: room_id}, function(res){
			    		// alert(res.msg);
			    		parent.layer.close(index);
			    	})
			  	},
			  	btn2: function(i, layero){
			    	//按钮【按钮二】的回调
			    	console.log("取消")
			  	},
			  	end: function () { //最后执行reload
	                parent.location.reload();
	            }
			});
	    }

	    /**
	     * 收租
	     * @param  {[type]} id [description]
	     * @return {[type]}    [description]
	     */
	    function rentCollection(id) {
	    	parent.layer.open({
	    		type: 2,
	    		area: ['700px', '100vh'],
		  		maxmin: true,
	    		content: "{:url('rentCollection', ['uuid' => $info['uuid']])}?key="+id+"&uuid="+uuid+'&room_id='+room_id,
	    		success: function(layero, index){
				    var body = layer.getChildFrame('body', index);
				    var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
				}
	    	})
	    }
		/**
		 * 退租
		 */
	    function tz()
	    {

	    	parent.layer.open({
			  type: 2,
	    		area: ['700px', '100vh'],
		  		maxmin: true,
			  content: "{:url('tuizu', ['uuid' => $info['uuid'], 'room_id' => $info.room_id])}",
			});
	    }

	    //租客登记（添加入住信息）
	    function rentDj(id){
	    	var index = parent.layer.open({
	    		type: 2,
	    		area: ['1000px', '100vh'],
		  		maxmin: true,
	    		content: "{:url('addRent')}?uuid="+uuid+'&room_id='+room_id,
	    	})
	    }
	    //添加预定用户信息（房源预定） （暂未使用，直接在租客登记处操作）
	    function addYD(id){
	    	var index = parent.layer.open({
	    		type: 2,
	    		area: ['1000px', '100vh'],
		  		maxmin: true,
	    		content: "{:url('addYd')}?uuid="+uuid+'&room_id='+room_id,
	    	})
	    }
  	</script>
</body>

