<link rel="stylesheet" href="__INDEX__/layuiadmin/layui/css/layui.css" media="all">

<link href="__INDEX__/login/css/login.css" rel="stylesheet" type="text/css">

<div id="content-container" class="container">
<form name="form" id="login-form" class="form-vertical" method="POST" action="">
	<input type="hidden" name="url" value="{$url}" />
    {:token()}
	<div class="login">
		<div class="login_l"></div>
		<div class="login_r">
			<div class="tt">用户登录</div>
		<div class="layadmin-user-login-box layadmin-user-login-body layui-form"  for="account">

  			<div class="inputtxt mt">手机号：</div>
  			<input class="inputmb" type="text" name="account" data-rule="required" placeholder="{:__('Mobile')}">

  			<div class="inputtxt mt15">密&nbsp;&nbsp;&nbsp;码：</div>
  			<input class="inputpw" type="password" name="password" data-rule="required;password" placeholder="{:__('Password')}" autocomplete="off">

  			<div class="inputtxt mt15"><a class="btn-forgot" href="#">忘记密码？</a></div>

  			<button type="submit" class="btn btn-lg btn-block" style="background: #01a1fa;border-radius: 20px;color: white;margin-top: 15px;">{:__('Sign in')}</button>

		</div>
		<div class="reg"><a href="{:url('user/register')}?url={$url|urlencode}">没有账号？立即注册</a></div>

		</div>
	</div>
</form>
</div>
<script type="text/html" id="resetpwdtpl">
    <form id="resetpwd-form" class="form-horizontal form-layer" method="POST" action="{:url('api/user/resetpwd')}">
        <div class="form-body">
            <input type="hidden" name="action" value="resetpwd" />
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3">{:__('Type')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="radio">
                        <label for="type-email"><input id="type-email" checked="checked" name="type" data-send-url="{:url('api/ems/send')}" data-check-url="{:url('api/validate/check_ems_correct')}" type="radio" value="email"> {:__('Reset password by email')}</label>
                        <label for="type-mobile"><input id="type-mobile" name="type" type="radio" data-send-url="{:url('api/sms/send')}" data-check-url="{:url('api/validate/check_sms_correct')}" value="mobile"> {:__('Reset password by mobile')}</label>
                    </div>        
                </div>
            </div>
            <div class="form-group" data-type="email">
                <label for="email" class="control-label col-xs-12 col-sm-3">{:__('Email')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" class="form-control" id="email" name="email" value="" data-rule="required(#type-email:checked);email;remote({:url('api/validate/check_email_exist')}, event=resetpwd, id={$user.id})" placeholder="">
                    <span class="msg-box"></span>
                </div>
            </div>
            <div class="form-group hide" data-type="mobile">
                <label for="mobile" class="control-label col-xs-12 col-sm-3">{:__('Mobile')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" class="form-control" id="mobile" name="mobile" value="" data-rule="required(#type-mobile:checked);mobile;remote({:url('api/validate/check_mobile_exist')}, event=resetpwd, id={$user.id})" placeholder="">
                    <span class="msg-box"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="captcha" class="control-label col-xs-12 col-sm-3">{:__('Captcha')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input type="text" name="captcha" class="form-control" data-rule="required;length(4);integer[+];remote({:url('api/validate/check_ems_correct')}, event=resetpwd, email:#email)" />
                        <span class="input-group-btn" style="padding:0;border:none;">
                            <a href="javascript:;" class="btn btn-info btn-captcha" data-url="{:url('api/ems/send')}" data-type="email" data-event="resetpwd">{:__('Send verification code')}</a>
                        </span>
                    </div>
                    <span class="msg-box"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="newpassword" class="control-label col-xs-12 col-sm-3">{:__('New password')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <input type="password" class="form-control" id="newpassword" name="newpassword" value="" data-rule="required;password" placeholder="">
                    <span class="msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-group form-footer">
            <label class="control-label col-xs-12 col-sm-3"></label>
            <div class="col-xs-12 col-sm-8">
                <button type="submit" class="btn btn-md btn-info">{:__('Ok')}</button>
            </div>
        </div>
    </form>
</script>
<style type="text/css">
    .n-default .n-left, .n-default .n-right {
        margin-top: 1px;
    }
    .n-right {
        margin-top: 0;
        top: 6px;
    }
    .n-default .msg-wrap {
        position: absolute;
        z-index: 1;
        right: 4px;
    }

    .fjs .n-right{
        display: none;
    }
    /*.nav-tabs > li.active > a{
        background-color: #cccccc;
        color: white;
    }*/
</style>