<body>

  <div class="layui-fluid">   
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">登录名</label>
            <div class="layui-input-block">
              <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-block">
              <input type="text" name="mobile" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
              <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
              <select name="group_id">
                <option value="">请选择角色</option>
                {foreach name="groupList" item="vo"}
                <option value="{$key}">{$vo}</option>
                {/foreach}
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
        </div>
        
        <table id="LAY-user-back-manage" lay-filter="users"></table>  
        <script type="text/html" id="buttonTpl">
          {{#  if(d.check == true){ }}
            <button class="layui-btn layui-btn-xs">已审核</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">未审核</button>
          {{#  } }}
        </script>
        <script type="text/html" id="table-useradmin-admin">
          {{#  if(d.role == '超级管理员'){ }}
            <a class="layui-btn layui-btn-disabled layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>删除</a>
          {{#  } else { }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
          {{#  } }}

          {{#  if(d.role == '超级管理员'){ }}
            <a class="layui-btn layui-btn-disabled layui-btn-xs"><i class="layui-icon layui-icon-close-fill"></i>禁用</a>
          {{#  } else { }}
            <a class="layui-btn layui-btn-waring layui-btn-xs" lay-event="waring"><i class="layui-icon layui-icon-close-fill"></i>禁用</a>
          {{#  } }}
        </script>
      </div>
    </div>
  </div>

  <script>
  layui.config({
    base: '__INDEX__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;
    
    //执行渲染
    table.render({
      elem: '#LAY-user-back-manage'
      ,url: "{:url('userList')}"
      ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
      ,cols: [[
        {field:'id', width:80, title: 'ID', sort: true}
        ,{field:'username', width:100, title: '用户名'}
        ,{field:'email', width: '20%', title: '邮箱', sort: true}
        ,{field:'mobile', width: 150, title: '登陆账号'}
        ,{field:'group', title: '角色', width: '15%', minWidth: 100, templet: '<div>{{d.group.name}}</div>'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
        ,{field:'createtime', title: '加入时间', sort: true}
        ,{field:'op', title: '操作', sort: true, templet: '#table-useradmin-admin',}
      ]]
    });

    //监听搜索
    form.on('submit(LAY-user-back-search)', function(data){
      var field = data.field;
      
      //执行重载
      table.reload('LAY-user-back-manage', {
        where: field
      });
    });
  
    //监听工具条
    table.on('tool(users)', function(obj){
      var data = obj.data;
      console.log(obj)
      if(obj.event === 'del'){
        layer.confirm('真的删除行么', function(index){
          $.post({
              url: '后台删除接口',
              data: {
                id: data.id,
              }
              ,success: function(res) {
                  if(res.code == 1 ){

                  }
              }
              ,error: function(res) {
                  layer.msg('系统繁忙，请稍后再试', {
                    offset: '15px'
                    ,icon: 5
                    ,time: 1000
                  });
              }
          });

          //页面模拟逻辑索引删除  （不用刷新页面）
          obj.del();
          layer.close(index);
        });
      } else if(obj.event === 'waring'){
        layer.confirm('是否禁用该账号', function(index){
          $.post({
              url: '后台删除接口',
              data: {
                id: data.id,
              }
              ,success: function(res) {
                  if(res.code == 1 ){

                  }
              }
              ,error: function(res) {
                  layer.msg('系统繁忙，请稍后再试', {
                    offset: '15px'
                    ,icon: 5
                    ,time: 1000
                  });
              }
          });
        });
      }
    });
    $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
  </script>
</body>